* {
    box-sizing: border-box;
    padding: 0;
}

h1 {
    text-align: center;
    height: 60px;
    margin-top: 20px;
}

section {
    width: 32.5%;
    background-color: darkgray;
    border: 1px solid black;
    margin: 5px;
    padding: 35px 10px 10px 10px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    float: left;
}

span {
    width: 100px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

#title_chi {
    background-color: hotpink;
}

#title_beef {
    background-color: red;
}

#title_sushi {
    background-color: tan;
}